*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desat-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-mod-cyan: hsl(168, 34%, 41%);

    --dark-desat-blue: hsl(212, 27%, 19%);
    --vdark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
}

body {
    font-size: 1.125rem;
    font-family: 'Barlow', sans-serif;
}

header {
    background-image: url("/images/mobile/image-header.jpg");
    background-size: cover;
    background-position: 50% 80%;
    background-repeat: no-repeat;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

p {
    font-size: 0.9rem;
}

ul {
    list-style: none;
}

.container {
    padding: 2rem;
}

nav, nav ul {
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo:hover {
    cursor: pointer;
}

nav ul {
    background-color: var(--white);
    
    align-items: center;
    justify-content: center;
    padding: 1em 0;
    margin-top: 2em;
    display: none;
    position: relative;
}

div#clip {
    background-color: var(--white);
    clip-path: polygon(100% 0, 75% 15%, 100% 15%);
    width: 100px;
    height: 100px;
    position: absolute;
    top: 78px;
    right: 32px;
    display: none;
}

nav ul li {
    margin: .8em 0;
}

nav ul li a {
    
    color: var(--vdark-grayish-blue);
    padding: .8rem 1.5rem;
    border-radius: 20px;
    font-size: .8rem;
}

nav ul li a:focus,
nav ul li a:hover {
    background-color: var(--yellow);
    color: var(--dark-desat-blue);
    text-transform: uppercase;
    cursor: pointer;
}
/*class for showing and hiding nav menu*/
.show {
    display: flex;
}

.title {
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
    font-family: 'Fraunces', serif;
    margin: 1em auto;
    font-size: 3rem;
    letter-spacing: .5rem;
}

/*arrow svg styling*/
.arrow {
    display: flex;
    justify-content: center;
}

section {
    text-align: center;
}

section h2,
section a,
.name {   
    font-family: 'Fraunces', serif;
}

section h2 {
    font-size: 2.2rem;
}

.hero_content_1,
.hero_content_2 {
    display: flex;
    flex-direction:column;
}

.hero_content_1 div,
.hero_content_2 div {
    padding: 2rem;
}

.hero_content_1 a,
.hero_content_2 a {
    text-transform: uppercase;
    position: relative;
    display: block;
    margin-bottom: 2rem;
    font-weight: 900;
    color: black;
}

.hero_content_1 a::after,
.hero_content_2 a::after {   
    content: "";
    height: 10px;
    width: 130px;
    position: absolute;
    top: 12px;
    right: -5px;
    z-index: -1;
    opacity: .5;
}

.hero_content_1 a::after {
    border-bottom: 10px solid var(--yellow);
}


.hero_content_2 a::after {
    border-bottom: 10px solid var(--soft-red);
}

.hero_content_1 a:hover::after,
.hero_content_2 a:hover::after {
    opacity: 1;
}

.hero_content_1 h2,
.hero_content_2 h2 {
    margin-bottom: 0;
}


.hero_content_1 p,
.hero_content_2 p {
    color: var(--dark-grayish-blue);
    margin: 2em auto;
}

.design p,
.photography p {
    margin: 3em auto;
}

.hero_content_1 p,
.hero_content_2 p,
.design p,
.photography p {
    line-height: 1.7;
    max-width: 80%;
}

.design {
    background-image: url("/images/mobile/image-graphic-design.jpg");
}

.photography {
    background-image: url("/images/mobile/image-photography.jpg");
}

.design, 
.photography {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    min-height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
} 

.main_content div {
    padding: 1em;
}

.design h2,
.photography h2 {
    margin: 0;
}

.design h2,
.design p {
    color: var(--dark-desat-cyan);
}

.photography h2,
.photography p {
    color: var(--dark-blue);
}

.testimonials h2 {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: var(--dark-grayish-blue);
    letter-spacing: 3px;
    padding: 1em;
}

.testimonial_block {
    display: flex;
    flex-direction: column;
}

.testimonial_block article {
    padding: 2.5em;
}

.testimonial_block article img {
    border-radius: 100%;
    max-width: 30%;
    max-height: 30%;
    display: block;
    margin: auto;
}

.description { 
    line-height: 1.7;
    margin: 2em 0;
    color: var(--vdark-grayish-blue);
}

.name {
    font-weight: 900;
}

.position {
    font-size: 0.8rem;
    color: var(--grayish-blue);
    font-weight: 900;
}

.showcase {
    display: flex;
    flex-wrap: wrap;
}

.showcase img {
    display: inline-block;
    width: 50%;
}

.footer_block,
.footer_block a {
    color: var(--dark-desat-cyan);
    background-color: hsl(167, 54%, 73%);
}

.footer_block {
    padding: 2em;
}

.footer_logo {
    display: flex;
    justify-content: center;
}

.footer_nav {
    display: flex;
    justify-content: space-around;
    margin: 2em auto;
    padding: 0;  
}

.socials {
    display: flex;
    justify-content: space-around;
    max-width: 50%;
    margin: 3em auto 0;
}

.footer_nav a {
    font-size: 1rem;
}

.socials a svg {
    fill: #2C7566;
    fill-rule: "nonzero";
}

.socials a svg:hover {
    fill: var(--white);
}

.footer_nav a:hover {
    color: var(--white);
}


@media only screen and (min-width: 650px) {

    header {
        background-image: url("/images/desktop/image-header.jpg");
        background-size: cover;
        background-position: 50% 0%;
        background-repeat: no-repeat;
        min-height: 100vh;
    }

    .title {
        margin: 2em 0;
        font-size: 2.2rem;
        letter-spacing: 5px;
    }

    svg#hamburger {
        display: none;
    }

    nav, nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }


    nav ul, nav ul li {
        margin: 0;
        background-color: unset;
    }

    nav ul li a {
        color: var(--white);
    }

    nav ul li a:focus,
    nav ul li a:hover {
        background-color: var(--white);
    }

    div#clip {
        width: 0;
        height: 0;
    }
    
    .logo {
        align-items: center;
    }

    .hero_content_1 {
        flex-direction: row-reverse;
    }

    .hero_content_2 {
        flex-direction: row;
    }

    .hero_content_1 div,
    .hero_content_2 div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .hero_content_1 p,
    .hero_content_2 p {
        text-align: left;
    }

    .hero_content_1 img,
    .hero_content_2 img {
        max-width: 50%;
    }

    .design {
        background-image: url("/images/desktop/image-graphic-design.jpg");
    }
    
    .photography {
        background-image: url("/images/desktop/image-photography.jpg");
    }

    .design p, 
    .photography p {
        max-width: 40%;
    }

    .testimonial_block {
        flex-direction: row;
        justify-content: space-between;
    }

    .showcase img {
        max-width: 25%;
    }

    .footer_nav {
        max-width: 50%;
    }
    
    .socials {
        max-width: 25%;
    }

}

.attribution { 
    font-size: 11px;
    text-align: center;
    margin-top: 1em;
}
.attribution a { color: hsl(228, 45%, 44%); }